<app-header></app-header>
<h1>Dad Jokes!</h1>
<hr />
<h3>Make your Favorites List!</h3>
<hr />
<!--Favorite it-->
<div
  class="container cc-look"
  *ngIf="joke"
  (click)="onFavorite()"
  style="cursor: pointer"
>
  {{ joke.joke }}
</div>
<!--list of jokes-->
<div class="flex-container">
<div *ngFor="let joke of jokeList; let i = index" class="list-container">
  <div>
    <span>{{joke.joke}}</span>
    <button
      class="btn btn-delete"
      (click)="onUnfavoriteJoke(joke.id)"
      type="button"
    >
      Delete
    </button>
  </div>
</div>
</div>
<!--Get the jokes-->
<button class="btn btn-dark" (click)="onGetJoke(joke)" type="button">
  Get Dad Joke
</button>
<button class="btn btn-success btn-sm" (click)="onFavorite()" type="button">
  Favorite this joke
</button>
